doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/show.css')
    script(src="/javascripts/jquery-2.2.0.min.js")
    script(src="/javascripts/jquery-ui.min.js")
    //script(src="/javascripts/transit.min.js")
    script(src="/javascripts/velocity.min.js")
    script(src="/javascripts/main-show.js")
  body
    h1 Test
    .message-container
    ul.items
      each item, i in db
        - var isVideo = item.file.split('mp4').length > 1
        - var isImage = (item.file.split('png').length > 1) || (item.file.split('jpg').length > 1) || (item.file.split('gif').length > 1)
        - var file = '/dropbox/'+ item.file
        if (item.isDirectory == 'true')
          li.item.edge(data-time=item.time)
            iframe(src=file + '/index.html' width="100%" height="100%")
        else if (isVideo)
          li.item.video(data-time=item.time)
            video(width="100%" height="100%" loop)
              source(src=file type="video/mp4")
        else if (isImage)
          li.item.image(data-time=item.time)
            img(src=file)
        else 
          h1.hidden.error Could not find #{file}
        
        
